@import '../../styles/global.scss';

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  padding: 36px;
  border-radius: 8px;
  background-color: $color-3;

  &_title {
    margin-bottom: 24px;
    font-size: $font-size-large;
    font-family: $font-family-title;
    text-align: center;
    color: $color-2;
  }

  &_inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 36px ;
  }

  &_submit {
    height: 40px;
    border: none;
    color: $color-1;
    background-color: $color-4;

    &:disabled {
      opacity: 0.5;
    }
  }
}
