// INFO: font sizes
$font-size-small-extra: 8px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-large-extra: 72px;

// INFO: color scheme
$color-1: #FBFBFB;
$color-2: #252525;
$color-3: #f7f4f0;
$color-4: #ff9700;

// INFO: font families
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap');

$font-family-title: 'Poiret One', cursive;
$font-family-text: 'Open Sans', sans-serif;

// INFO: overall styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}
