@import '../../styles/global.scss';

.searchField {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;

  &_input {
    flex: 1;
    min-height: 48px;
    padding-left: 12px;
    border: 1px solid $color-2;

    &__invalid {
      border: 1px solid $color-4;
      box-shadow: 0 0 2px 0 $color-4;
    }
  }

  &IconContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;

    &_icon {
      width: 24px;
    }
  }
}
