@import '../../styles/global.scss';

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: 0 0 12px -4px $color-2;

  &_title {
    margin-bottom: 24px;
    font-size: $font-size-large;
    color: $color-2;
  }

  &_inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 36px ;
  }

  &_submit {
    height: 40px;
    border: none;
    border-radius: 8px;
    color: $color-1;
    background-color: $color-5;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }
}
