@import '../../styles/global.scss';

.userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &Item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: 12px;
    padding: 32px;

    // TODO: use screen breakpoint variables
    @media (max-width: 576px) {
      width: 100%;
      margin: 12px 0;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      width: calc(50% - 24px);
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      width: calc(100% / 3 - 24px);
    }
    @media (min-width: 1201px) and (max-width: 1800px) {
      width: calc(25% - 24px);
    }
    @media (min-width: 1801px) {
      width: 360px;
    }

    &:last-child {
      margin-right: auto;
    }

    &Avatar {
      display: flex;
      flex: 1;
      height: 240px;
      margin-bottom: 24px;

      &_image {
        filter: invert(0.5);
      }
    }

    &_fullName {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 24px;
      text-align: center;
      letter-spacing: 2px;
      font-size: $font-size-large;
      font-family: $font-family-title;
    }

    &_link {
      text-decoration: none;
      color: $color-2;
    }
  }
}
