@import '../../styles/global.scss';

.books {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;

  &_title {
    margin-bottom: 24px;
    letter-spacing: 2.5px;
    font-size: $font-size-large;
    font-family: $font-family-title;
    text-transform: uppercase;
  }
}
